#upload__drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#upload__drop-area.highlight {
  border-color: purple;
}
#upload__drop-area p {
  margin-top: 0;
}
#upload__drop-area .upload__form {
  margin-bottom: 10px;
}
#upload__drop-area #gallery {
  margin-top: 10px;
}
#upload__drop-area #gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
#upload__drop-area .button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#upload__drop-area .button:hover {
  background: #ddd;
}
#upload__drop-area #fileElem {
  display: none;
}
